input[type="number"] {
  width: 25%;
}

input[name="realNumber"] {
  width: 70%;
}

@media (max-width: 992px) {
  input[type="number"] {
    width: 35%;
  }
  input[name="realNumber"] {
    width: 95%;
  }
}

@media (max-width: 768px) {
  input[type="number"] {
    width: 35%;
  }
  input[name="realNumber"] {
    width: 85%;
  }
}
@media (max-width: 576px) {
  input[type="number"] {
    width: 60%;
  }
}

@media (max-width: 440px) {
  input[type="number"] {
    width: 90%;
  }
}
